<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="lib/vue.min.js"></script>
    <script src="lib/lodash.min.js"></script>

    <script src="js/script.js"></script>

    <link rel="stylesheet" href="css/styles.css">

    <title>Gestionnaire restaurants VueJS</title>
</head>

<body>
<div id="app">
    <form @submit.prevent="ajouterRestaurant(event)">
        <label>
            Nom : <input name="nom" type="text" required v-model="nom">
        </label>
        <label>
            Cuisine : <input name="cuisine" type="text" required v-model="cuisine">
        </label>

        <button>Ajouter</button>
    </form>

    <h1>Nombre de restaurants  : {{nbRestaurantsTotal}}</h1>
    <p> Chercher par nom : <input 
        @input="chercherRestaurants()" 
        type="text" 
        v-model="nomRestauRecherche" 
        ></p>
    <p>Page : {{page}} </p>
    <p>Nb de pages total : {{nbPagesTotal}} </p>
    <p>Nb de restaurants par page 
        <input @change ="getRestaurantsFromServer()" 
        type="range" min="2" max="100" v-model="pagesize"
        > {{pagesize}} </p>
    <button :disabled="page==0" @click="pagePrecedente()">Précédent</button>&nbsp&nbsp
    <button :disabled="page==nbPagesTotal"@click="pageSuivante()">Suivant</button>&nbsp&nbsp&nbsp&nbsp

    <button @click="gotoDernierePage()">Dern. Page</button>
    <button @click="gotoPremierePage()">1ère page</button>

    <table>
        <tr>
            <th>Nom</th>
            <th>Cuisine </th>
        </tr>
        <tbody>
            <tr v-for="r,index in restaurants" v-on:click="supprimerRestaurant(r)" v-bind:style="{backgroundColor:getColor(index)}"
                v-bind:class="{bordureRouge:(index === 2)}">
                <td>{{r.name}}</td>
                <td> {{r.cuisine}}</td>
            </tr>
        </tbody>
    </table>
</div>
</body>

</html>